In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("car_price.csv")

In [3]:
df

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
2,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
3,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
4,Audi A1,Sedans,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790
5,Audi A1,Sedans,White,63668,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",15090
6,Audi A1,Station wagon,White,62111,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",16422
7,Audi A1,Compact,Red,14986,85,Automatic,Alloy wheels,14480
8,Audi A1,Sedans,Grey,57000,85,Automatic,Alloy wheels,16700
9,Audi A1,Sedans,White,16103,85,Automatic,Alloy wheels,17990
10,Audi A1,Sedans,Black,11300,85,Automatic,"Alloy wheels,Shift paddles",18500
11,Audi A1,Sedans,White,31600,85,Automatic,"Alloy wheels,Catalytic Converter,Sport package...",18380
12,Audi A1,Sedans,Grey,45764,85,Automatic,"Alloy wheels,Sport seats,Sport suspension",18399
13,Audi A1,Sedans,Black,34914,85,Automatic,"Alloy wheels,Sport seats,Sport suspension",17990
14,Audi A1,Sedans,Grey,27000,85,Automatic,Alloy wheels,18700
15,Audi A1,Sedans,Blue,9752,85,Automatic,"Alloy wheels,Sport package,Sport seats",18900
16,Audi A1,Sedans,White,28408,85,Automatic,"Alloy wheels,Sport package",18500
17,Audi A1,Compact,Black,50280,85,Automatic,Alloy wheels,18400
18,Audi A1,Sedans,Black,13406,85,Automatic,"Alloy wheels,Catalytic Converter,Shift paddles...",18500
19,Audi A1,Sedans,White,51160,85,Automatic,"Alloy wheels,Shift paddles,Sport package,Voice...",18500
20,Audi A1,Sedans,Black,15850,85,Automatic,"Alloy wheels,Sport seats,Voice Control",18500
21,Audi A1,Sedans,Grey,17000,85,Automatic,"Alloy wheels,Catalytic Converter,Sport seats,V...",18900
22,Audi A1,Sedans,Black,9077,85,Automatic,Alloy wheels,18850
23,Audi A1,Sedans,White,3000,85,Automatic,"Alloy wheels,Voice Control",18500
24,Audi A1,Sedans,White,115000,85,Manual,"Alloy wheels,Winter tyres",8999
25,Audi A1,Compact,Blue,84029,85,Manual,"Alloy wheels,Voice Control",11444
26,Audi A1,Sedans,Black,67800,85,Manual,Alloy wheels,11300
27,Audi A1,Compact,Black,22000,85,Manual,Alloy wheels,11290
28,Audi A1,Compact,Black,38400,85,Manual,Alloy wheels,11290
29,Audi A1,Sedans,Black,83307,85,Manual,"Alloy wheels,Catalytic Converter",11440
...,...,...,...,...,...,...,...,...
4770,Audi A3,Sedans,White,0,85,Manual,"Alloy wheels,Sport suspension,Voice Control",25400
4771,Audi A3,Sedans,Grey,10,85,Manual,Alloy wheels,25400
4772,Audi A3,Sedans,Black,0,85,Manual,"Alloy wheels,Sport seats",25400
4773,Audi A3,Sedans,Black,20,85,Manual,Alloy wheels,25340
4774,Audi A3,Sedans,Blue,12,85,Manual,"Alloy wheels,Roof rack,Sport suspension",25300
4775,Audi A3,Sedans,White,10,85,Manual,Alloy wheels,25355
4776,Audi A3,Sedans,Grey,20,85,Manual,Alloy wheels,25340
4777,Audi A3,Station wagon,Black,47,85,Manual,"Alloy wheels,Catalytic Converter,Voice Control",25375
4778,Audi A3,Station wagon,Silver,9000,85,Manual,"Alloy wheels,Roof rack,Voice Control",25290
4779,Audi A3,Sedans,Grey,10000,85,Manual,Alloy wheels,25290
4780,Audi A3,Sedans,White,10,85,Manual,"Alloy wheels,Roof rack,Sport suspension",25200
4781,Audi A3,Station wagon,Black,44,85,Manual,"Alloy wheels,Catalytic Converter,Sport seats,S...",25175
4782,Audi A3,Sedans,White,15500,85,Manual,"Alloy wheels,Sport suspension",25300
4783,Audi A3,Sedans,Grey,15500,85,Manual,"Alloy wheels,Sport suspension",25300
4784,Audi A3,Station wagon,White,51,85,Manual,"Alloy wheels,Catalytic Converter,Voice Control",25125
4785,Audi A3,Sedans,White,1,85,Manual,Alloy wheels,25059
4786,Audi A3,Station wagon,White,50,85,Manual,"Alloy wheels,Sport seats,Sport suspension",24999
4787,Audi A3,Sedans,White,0,85,Manual,Alloy wheels,24990
4788,Audi A3,Sedans,White,100,85,Manual,Alloy wheels,25090
4789,Audi A3,Sedans,Grey,0,85,Manual,Alloy wheels,24990
4790,Audi A3,Sedans,Red,6000,85,Manual,"Alloy wheels,Roof rack,Sport seats,Sport suspe...",24990
4791,Audi A3,Sedans,Black,9000,85,Manual,Alloy wheels,24990
4792,Audi A3,Sedans,White,1550,85,Manual,"Alloy wheels,Catalytic Converter,Roof rack,Voi...",24990
4793,Audi A3,Sedans,Red,10,85,Manual,"Alloy wheels,Roof rack,Sport suspension",24987
4794,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4795,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4796,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4797,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4798,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4799,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 8 columns):
make_model      4800 non-null object
body_type       4800 non-null object
Body Color      4800 non-null object
km              4800 non-null int64
hp              4800 non-null int64
Gearing Type    4800 non-null object
Extras          4800 non-null object
price           4800 non-null int64
dtypes: int64(3), object(5)
memory usage: 300.1+ KB

### Label Encoder

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
encoder = LabelEncoder()

In [8]:
df["make_model"] = encoder.fit_transform(df["make_model"]) # map, replace

In [9]:
df["make_model"].value_counts()

2    2642
0    2157
1       1
Name: make_model, dtype: int64

In [23]:
df["body_type"] = encoder.fit_transform(df["body_type"])

In [24]:
df.head()

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,0,0,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,0,0,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
2,0,0,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
3,0,0,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
4,0,0,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790

In [22]:
df["body_type"].value_counts()

2    2642
0    2157
1       1
Name: body_type, dtype: int64

In [25]:
df["Body Color"] = encoder.fit_transform(df["Body Color"])

In [27]:
df[:10]

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,0,0,1,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,0,0,8,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
2,0,0,1,83450,85,Automatic,"Alloy wheels,Voice Control",14640
3,0,0,4,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
4,0,0,1,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790
5,0,0,11,63668,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",15090
6,0,0,11,62111,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",16422
7,0,0,8,14986,85,Automatic,Alloy wheels,14480
8,0,0,6,57000,85,Automatic,Alloy wheels,16700
9,0,0,11,16103,85,Automatic,Alloy wheels,17990

In [28]:
df["Body Color"].value_counts(dropna=False)

1     1443
11    1200
6      913
2      448
9      368
8      307
4       42
5       31
12      27
0       15
10       3
3        2
7        1
Name: Body Color, dtype: int64

#### Let's make this in a different way/ method

In [71]:
df1 = pd.read_csv("car_price.csv")

In [72]:
df1["make_model"].str.get_dummies()

      Audi A1  Audi A2  Audi A3
0           1        0        0
1           1        0        0
2           1        0        0
3           1        0        0
4           1        0        0
5           1        0        0
6           1        0        0
7           1        0        0
8           1        0        0
9           1        0        0
10          1        0        0
11          1        0        0
12          1        0        0
13          1        0        0
14          1        0        0
15          1        0        0
16          1        0        0
17          1        0        0
18          1        0        0
19          1        0        0
20          1        0        0
21          1        0        0
22          1        0        0
23          1        0        0
24          1        0        0
25          1        0        0
26          1        0        0
27          1        0        0
28          1        0        0
29          1        0        0
...       ...      ...      ...
4770        0        0        1
4771        0        0        1
4772        0        0        1
4773        0        0        1
4774        0        0        1
4775        0        0        1
4776        0        0        1
4777        0        0        1
4778        0        0        1
4779        0        0        1
4780        0        0        1
4781        0        0        1
4782        0        0        1
4783        0        0        1
4784        0        0        1
4785        0        0        1
4786        0        0        1
4787        0        0        1
4788        0        0        1
4789        0        0        1
4790        0        0        1
4791        0        0        1
4792        0        0        1
4793        0        0        1
4794        0        0        1
4795        0        0        1
4796        0        0        1
4797        0        0        1
4798        0        0        1
4799        0        0        1

[4800 rows x 3 columns]

In [85]:
make_model = df1["make_model"].str.get_dummies()

In [87]:
make_model[:10]

   Audi A1  Audi A2  Audi A3
0        1        0        0
1        1        0        0
2        1        0        0
3        1        0        0
4        1        0        0
5        1        0        0
6        1        0        0
7        1        0        0
8        1        0        0
9        1        0        0

In [88]:
df1["body_type"].str.get_dummies()

      Compact  Convertible  Coupe  Off-Road  Other  Sedans  Station wagon
0           0            0      0         0      0       1              0
1           0            0      0         0      0       1              0
2           0            0      0         0      0       1              0
3           0            0      0         0      0       1              0
4           0            0      0         0      0       1              0
5           0            0      0         0      0       1              0
6           0            0      0         0      0       0              1
7           1            0      0         0      0       0              0
8           0            0      0         0      0       1              0
9           0            0      0         0      0       1              0
10          0            0      0         0      0       1              0
11          0            0      0         0      0       1              0
12          0            0      0         0      0       1              0
13          0            0      0         0      0       1              0
14          0            0      0         0      0       1              0
15          0            0      0         0      0       1              0
16          0            0      0         0      0       1              0
17          1            0      0         0      0       0              0
18          0            0      0         0      0       1              0
19          0            0      0         0      0       1              0
20          0            0      0         0      0       1              0
21          0            0      0         0      0       1              0
22          0            0      0         0      0       1              0
23          0            0      0         0      0       1              0
24          0            0      0         0      0       1              0
25          1            0      0         0      0       0              0
26          0            0      0         0      0       1              0
27          1            0      0         0      0       0              0
28          1            0      0         0      0       0              0
29          0            0      0         0      0       1              0
...       ...          ...    ...       ...    ...     ...            ...
4770        0            0      0         0      0       1              0
4771        0            0      0         0      0       1              0
4772        0            0      0         0      0       1              0
4773        0            0      0         0      0       1              0
4774        0            0      0         0      0       1              0
4775        0            0      0         0      0       1              0
4776        0            0      0         0      0       1              0
4777        0            0      0         0      0       0              1
4778        0            0      0         0      0       0              1
4779        0            0      0         0      0       1              0
4780        0            0      0         0      0       1              0
4781        0            0      0         0      0       0              1
4782        0            0      0         0      0       1              0
4783        0            0      0         0      0       1              0
4784        0            0      0         0      0       0              1
4785        0            0      0         0      0       1              0
4786        0            0      0         0      0       0              1
4787        0            0      0         0      0       1              0
4788        0            0      0         0      0       1              0
4789        0            0      0         0      0       1              0
4790        0            0      0         0      0       1              0
4791        0            0      0         0      0       1              0
4792        0            0      0         0      0       1              0
4793        0            0      0         0      0       1              0
4794        0            0      0         0      0       1              0
4795        0            0      0         0      0       1              0
4796        0            0      0         0      0       1              0
4797        0            0      0         0      0       0              1
4798        0            0      0         0      0       1              0
4799        0            0      0         0      0       1              0

[4800 rows x 7 columns]

In [89]:
body_type = df1["body_type"].str.get_dummies()

In [90]:
body_type[:10]

   Compact  Convertible  Coupe  Off-Road  Other  Sedans  Station wagon
0        0            0      0         0      0       1              0
1        0            0      0         0      0       1              0
2        0            0      0         0      0       1              0
3        0            0      0         0      0       1              0
4        0            0      0         0      0       1              0
5        0            0      0         0      0       1              0
6        0            0      0         0      0       0              1
7        1            0      0         0      0       0              0
8        0            0      0         0      0       1              0
9        0            0      0         0      0       1              0

In [96]:
pd.merge(make_model, body_type, left_index=True, right_index=True)

,Audi A1,Audi A2,Audi A3,Compact,Convertible,Coupe,Off-Road,Other,Sedans,Station wagon
0,1,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,1,0
5,1,0,0,0,0,0,0,0,1,0
6,1,0,0,0,0,0,0,0,0,1
7,1,0,0,1,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,1,0
9,1,0,0,0,0,0,0,0,1,0
10,1,0,0,0,0,0,0,0,1,0
11,1,0,0,0,0,0,0,0,1,0
12,1,0,0,0,0,0,0,0,1,0
13,1,0,0,0,0,0,0,0,1,0
14,1,0,0,0,0,0,0,0,1,0
15,1,0,0,0,0,0,0,0,1,0
16,1,0,0,0,0,0,0,0,1,0
17,1,0,0,1,0,0,0,0,0,0
18,1,0,0,0,0,0,0,0,1,0
19,1,0,0,0,0,0,0,0,1,0
20,1,0,0,0,0,0,0,0,1,0
21,1,0,0,0,0,0,0,0,1,0
22,1,0,0,0,0,0,0,0,1,0
23,1,0,0,0,0,0,0,0,1,0
24,1,0,0,0,0,0,0,0,1,0
25,1,0,0,1,0,0,0,0,0,0
26,1,0,0,0,0,0,0,0,1,0
27,1,0,0,1,0,0,0,0,0,0
28,1,0,0,1,0,0,0,0,0,0
29,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
4770,0,0,1,0,0,0,0,0,1,0
4771,0,0,1,0,0,0,0,0,1,0
4772,0,0,1,0,0,0,0,0,1,0
4773,0,0,1,0,0,0,0,0,1,0
4774,0,0,1,0,0,0,0,0,1,0
4775,0,0,1,0,0,0,0,0,1,0
4776,0,0,1,0,0,0,0,0,1,0
4777,0,0,1,0,0,0,0,0,0,1
4778,0,0,1,0,0,0,0,0,0,1
4779,0,0,1,0,0,0,0,0,1,0
4780,0,0,1,0,0,0,0,0,1,0
4781,0,0,1,0,0,0,0,0,0,1
4782,0,0,1,0,0,0,0,0,1,0
4783,0,0,1,0,0,0,0,0,1,0
4784,0,0,1,0,0,0,0,0,0,1
4785,0,0,1,0,0,0,0,0,1,0
4786,0,0,1,0,0,0,0,0,0,1
4787,0,0,1,0,0,0,0,0,1,0
4788,0,0,1,0,0,0,0,0,1,0
4789,0,0,1,0,0,0,0,0,1,0
4790,0,0,1,0,0,0,0,0,1,0
4791,0,0,1,0,0,0,0,0,1,0
4792,0,0,1,0,0,0,0,0,1,0
4793,0,0,1,0,0,0,0,0,1,0
4794,0,0,1,0,0,0,0,0,1,0
4795,0,0,1,0,0,0,0,0,1,0
4796,0,0,1,0,0,0,0,0,1,0
4797,0,0,1,0,0,0,0,0,0,1
4798,0,0,1,0,0,0,0,0,1,0
4799,0,0,1,0,0,0,0,0,1,0

### How about the Extras Column

In [97]:
df1["Extras"].str.get_dummies(",")

,Alloy wheels,Cab or rented Car,Catalytic Converter,Handicapped enabled,Right hand drive,Roof rack,Shift paddles,Ski bag,Sport package,Sport seats,Sport suspension,Touch screen,Trailer hitch,Tuned car,Voice Control,Winter tyres
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0
5,1,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0
6,1,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
11,1,0,1,0,0,0,0,0,1,1,1,0,0,0,1,0
12,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
13,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
14,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
16,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
17,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
19,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0
20,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
21,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,1
22,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
24,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
25,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
26,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4771,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4772,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4773,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4774,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
4775,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4776,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4777,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
4778,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
4779,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4780,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
4781,1,0,1,0,0,0,0,0,0,1,1,0,0,0,1,0
4782,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4783,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4784,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
4785,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4786,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
4787,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4788,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4789,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4790,1,0,0,0,0,1,0,0,0,1,1,0,0,0,1,0
4791,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4792,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4793,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
4794,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4795,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0
4796,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4797,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4798,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4799,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0